---
const {title, description} = Astro.props;
import NavBar from "@/components/NavBar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title> 
	</head>
	<style is:global>
		body{
			background: #222;
			color: #fff;
			font_family: Lexend;
			font_size: 1.3rem;
		}
		a{
			color: cyan; 
		}
	</style>
	<body>
		<h1>Esta es una prueba</h1>
		<NavBar />
		<slot />
	</body>
</html>
