---
import "@fontsource-variable/exo"
const ROUTES = [
    { path: "/", name: "Inicio" },
    { path: "/services", name: "Servicios" },
    { path: "/portafolio", name: "Portfolio" },
    { path: "/testimonials", name: "Testimonios" },
    { path: "/faq", name: "FAQ" }
]
---
<style>
    nav{
        background: var(--theme-color-lightst);
        font-family: "Exo Variable", sans-serif;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 600;

        & .wrapper {
            display: flex;
        }

        & a{
            display: block;
            color: color-mix(in srgb, var(--theme-color-medium), #020202 50%);
            padding: 1rem 3rem;
            text-decoration: none;
            background: var(--theme-color-lightst);
            border-bottom: 10px solid color-mix(in srgb, var(--bgcolor), #fff 20%);
            transition: 
                background 0.3s, 
                color 0.3s;
        }
        & a:nth-child(1){ --bgcolor: #558d02; }  /* Inicio → Verde global */
        & a:nth-child(2){ --bgcolor: #090967; }  /* Servicios → Azul acento oscuro */
        & a:nth-child(3){ --bgcolor: #7079d3; }  /* Portfolio → Azul hover */
        & a:nth-child(4){ --bgcolor: #9d174d; }  /* Testimonios → Vino oscuro elegante */
        & a:nth-child(5){ --bgcolor: #d97706; }  /* FAQ → Naranja/ámbar sobrio */



        & a:hover{
            background: var(--bgcolor);
            /* Seleccionar uno de los dos */
            color: #fff;
            /* color: var(--theme-color-light); */
        }
    }
</style>
<nav>
    <div class="wrapper">
        <!-- <a href="/">Inicio</a>
        <a href="/services">Servicios</a>
        <a href="/portafolio">Portfolio</a>
        <a href="/testimonials">Testimonios</a>
        <a href="/faq">FAQ</a> -->
        {ROUTES.map(route => (
            <a href={route.path}>{route.name}</a>
        ))}
    </div>
</nav>