---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Portafolio de Wilver Emilio";
const description = "Página principal de portafolio web";

---
<BaseLayout title={title} description={description}>
    <h1>Servicios</h1>
</BaseLayout>