---
import BaseLayout from "../layauts/index.astro";
---

<!-- Esto para poder enrutar varias paginas, con el Layaut, es decir un componente que se usa en varias paginas -->
<BaseLayout title = "Página principal", description="Esta es mi primera pagina web con Astro">
  <h1>Astro</h1>
</BaseLayout>
