---
import  BaseLayout from "@/layauts/index.astro";
const {title, description} =  Astro.props;
---

<BaseLayout title="Preguntas frecuentes"
            description="Preguntas frecuentes sobre el proyecto">

    <h1>FAQ</h1>
    <div>
        Hola **a todos**. Esto es un ejemplo de markdown que hace: 

        - Listas
        - Con
        - Items

        **Negrita**, *Cursiva*...
        1) Listas
        2) Con 
        3) Orden
    </div>

</BaseLayout>

